In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.naive_bayes import GaussianNB
import sklearn

In [2]:
total_train = pd.read_csv('../setEntrenamiento.csv')

In [3]:
total_train.head()

,Unnamed: 0,person,cant_seciones,event_checkout,event_conversion,event_ad campaign hit,event_lead,skus,Busca_terminos_populares,Computer,...,campaign_source_google,campaign_source_criteo,campaign_source_rtbhouse,channel_Direct,channel_Paid,channel_Organic,channel_Referral,Brasilero,ventas_region,label
0,0,0008ed71,3,3.0,0.0,0.0,0.0,1,0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0
1,1,000c79fe,1,1.0,0.0,1.0,0.0,1,8,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0
2,2,001802e4,1,1.0,0.0,5.0,0.0,1,0,0.0,...,5.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0
3,3,0019e639,21,15.0,2.0,29.0,0.0,1,3,1.0,...,17.0,5.0,7.0,0.0,16.0,2.0,1.0,1.0,1213.0,0
4,4,001b0bf9,1,2.0,1.0,0.0,0.0,1,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64.0,0

In [4]:
total_train= total_train.drop( ['person','Unnamed: 0',"marca_lenovo","marca_lg","marca_sony","marca_asus","event_lead","otros","Brasilero",'Parte del dia_Madrugada',
       'Parte del dia_Mañana', 'Parte del dia_Noche', 'Parte del dia_Tarde', 'channel_Direct', 'channel_Paid',
       'channel_Organic', 'channel_Referral','campaign_source_google',
       'campaign_source_criteo', 'campaign_source_rtbhouse',
       'event_ad campaign hit', 'skus', 'Busca_terminos_populares', 'marca_apple', 'marca_motorola', 'marca_samsung',
       'condition_Bom', 'condition_Bom - Sem Touch ID', 'condition_Excelente',
       'condition_Muito Bom', 'version_galaxy j7', 'version_galaxy j5',
       'version_galaxy s7', 'version_iphone 6', 'version_iphone 5s',
       'version_iphone 6s', 'version_moto g4', 'version_moto g2',
       'version_galaxy s6', 'storage_128GB', 'storage_16GB', 'storage_256GB',
       'storage_32GB', 'storage_4GB', 'storage_512MB', 'storage_64GB',
       'storage_8GB'],axis=1)

In [5]:
total_train.columns

Index(['cant_seciones', 'event_checkout', 'event_conversion', 'Computer',
       'Smartphone', 'ventas_region', 'label'],
      dtype='object')

In [6]:
users1s = total_train[total_train["label"] == 1]
users0s = total_train[total_train["label"] == 0].head(980)
total_train = pd.concat([users0s,users1s], ignore_index=True)

total_train["label"].value_counts()

1    980
0    980
Name: label, dtype: int64

In [7]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
for column in total_train.columns:
    if total_train[column].dtype == type(object):
        total_train[column] = le.fit_transform(total_train[column].astype(str))

total_train.sample(5)

,cant_seciones,event_checkout,event_conversion,Computer,Smartphone,ventas_region,label
697,2,2.0,0.0,0.0,1.0,0.0,0
1219,7,3.0,0.0,1.0,0.0,0.0,1
1935,15,1.0,2.0,1.0,1.0,756.0,1
48,1,1.0,0.0,0.0,1.0,0.0,0
1856,1,0.0,0.0,1.0,0.0,0.0,1

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(total_train.drop(['label'], axis=1).values, total_train['label'], test_size=0.30, random_state=75)

In [9]:
clf = GaussianNB()

In [10]:
clf.fit(X_train, y_train)

GaussianNB(priors=None)

In [94]:
#Para guardar el modelo en un archivo
from sklearn.externals import joblib
joblib.dump(clf, 'GaussianNBFinal.pkl')

['GaussianNBFinal.pkl']

In [2]:
#Para cargar el modelo
from sklearn.externals import joblib
clf = joblib.load('GaussianNBFinal.pkl')

In [14]:
result = clf.predict_proba(X_test)

In [15]:
result2 = []
for elem in result:
    result2.append(elem[1])

In [16]:
from sklearn import metrics
pred = result2
fpr, tpr, thresholds = metrics.roc_curve(y_test, pred)
metrics.auc(fpr, tpr)

0.7262816428199039

In [40]:
test = pd.read_csv('../setTest.csv')

In [41]:
test.head()

,Unnamed: 0,person,event_checkout,event_conversion,event_viewed product,condition_Bom,condition_Bom - Sem Touch ID,condition_Excelente,condition_Muito Bom,condition_Novo,...,Parte del dia_Noche,Parte del dia_Tarde,marca_apple,marca_asus,marca_lenovo,marca_lg,marca_motorola,marca_quantum,marca_samsung,marca_sony
0,0,00091926,2.0,0.0,372.0,102.0,0.0,108.0,163.0,1.0,...,200.0,0.0,254.0,0.0,1.0,2.0,55.0,0.0,61.0,1.0
1,1,00091a7a,0.0,0.0,3.0,1.0,0.0,2.0,0.0,0.0,...,0.0,3.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,000ba417,6.0,1.0,153.0,115.0,0.0,11.0,34.0,0.0,...,31.0,93.0,8.0,0.0,0.0,4.0,37.0,0.0,110.0,1.0
3,3,000e4d9e,1.0,0.0,339.0,124.0,0.0,53.0,163.0,0.0,...,198.0,123.0,21.0,0.0,0.0,1.0,2.0,0.0,301.0,15.0
4,4,000e619d,1.0,0.0,28.0,14.0,0.0,7.0,8.0,0.0,...,26.0,3.0,7.0,0.0,0.0,3.0,7.0,0.0,12.0,0.0

In [42]:
person = test["person"]

In [43]:
le = preprocessing.LabelEncoder()
for column in test.columns:
    if test[column].dtype == type(object):
        test[column] = le.fit_transform(test[column].astype(str))

NameError: name 'preprocessing' is not defined

In [44]:
test.head()

,Unnamed: 0,person,event_checkout,event_conversion,event_viewed product,condition_Bom,condition_Bom - Sem Touch ID,condition_Excelente,condition_Muito Bom,condition_Novo,...,Parte del dia_Noche,Parte del dia_Tarde,marca_apple,marca_asus,marca_lenovo,marca_lg,marca_motorola,marca_quantum,marca_samsung,marca_sony
0,0,00091926,2.0,0.0,372.0,102.0,0.0,108.0,163.0,1.0,...,200.0,0.0,254.0,0.0,1.0,2.0,55.0,0.0,61.0,1.0
1,1,00091a7a,0.0,0.0,3.0,1.0,0.0,2.0,0.0,0.0,...,0.0,3.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,000ba417,6.0,1.0,153.0,115.0,0.0,11.0,34.0,0.0,...,31.0,93.0,8.0,0.0,0.0,4.0,37.0,0.0,110.0,1.0
3,3,000e4d9e,1.0,0.0,339.0,124.0,0.0,53.0,163.0,0.0,...,198.0,123.0,21.0,0.0,0.0,1.0,2.0,0.0,301.0,15.0
4,4,000e619d,1.0,0.0,28.0,14.0,0.0,7.0,8.0,0.0,...,26.0,3.0,7.0,0.0,0.0,3.0,7.0,0.0,12.0,0.0

In [45]:
test = test.drop(['person','Unnamed: 0'],axis=1)

In [46]:
test.head()

,event_checkout,event_conversion,event_viewed product,condition_Bom,condition_Bom - Sem Touch ID,condition_Excelente,condition_Muito Bom,condition_Novo,storage_128GB,storage_16GB,...,Parte del dia_Noche,Parte del dia_Tarde,marca_apple,marca_asus,marca_lenovo,marca_lg,marca_motorola,marca_quantum,marca_samsung,marca_sony
0,2.0,0.0,372.0,102.0,0.0,108.0,163.0,1.0,48.0,104.0,...,200.0,0.0,254.0,0.0,1.0,2.0,55.0,0.0,61.0,1.0
1,0.0,0.0,3.0,1.0,0.0,2.0,0.0,0.0,1.0,1.0,...,0.0,3.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,6.0,1.0,153.0,115.0,0.0,11.0,34.0,0.0,0.0,115.0,...,31.0,93.0,8.0,0.0,0.0,4.0,37.0,0.0,110.0,1.0
3,1.0,0.0,339.0,124.0,0.0,53.0,163.0,0.0,1.0,108.0,...,198.0,123.0,21.0,0.0,0.0,1.0,2.0,0.0,301.0,15.0
4,1.0,0.0,28.0,14.0,0.0,7.0,8.0,0.0,0.0,8.0,...,26.0,3.0,7.0,0.0,0.0,3.0,7.0,0.0,12.0,0.0

In [47]:
nombreCol = []
for namecolumn in total_train.columns:
     if ( not namecolumn in test.columns):
            nombreCol.append(namecolumn)
print(nombreCol)
for namecolumn in test.columns:
     if ( not namecolumn in total_train.columns):
            nombreCol.append(namecolumn)
print(nombreCol)

['label']
['label']

In [48]:
result = clf.predict_proba(test)

In [49]:
    result2 = []
    for elem in result:
        result2.append(elem[1])

In [50]:
person = person.to_frame()

In [51]:
person['label'] = result2

In [52]:
person.head()

     person     label
0  00091926  1.000000
1  00091a7a  0.023254
2  000ba417  1.000000
3  000e4d9e  1.000000
4  000e619d  0.034463

In [53]:
kaggle = pd.read_csv('../data/trocafone_kaggle_test.csv')

In [54]:
kaggle.head()

     person
0  4886f805
1  0297fc1e
2  2d681dd8
3  cccea85e
4  4c8a8b93

In [55]:
resultado = pd.merge(kaggle,person,on="person",how = "left")

In [56]:
resultado.head()

     person     label
0  4886f805  0.020399
1  0297fc1e  1.000000
2  2d681dd8  0.023733
3  cccea85e  1.000000
4  4c8a8b93  1.000000

In [57]:
resultado["label"].isnull().value_counts()

False    18833
True       582
Name: label, dtype: int64

In [58]:
resultado["label"] = resultado["label"].fillna(0)

In [59]:
(resultado["label"]<0.5).value_counts()

True     16402
False     3013
Name: label, dtype: int64

In [58]:
resultado.to_csv('resultadoGaussian.csv', index=False)

In [84]:
postulations_known = pd.read_csv('../test/postulationsDesp15Abril.csv')

In [85]:
postulations_known.head()

      idaviso idpostulante     fechapostulacion  Mayor15Abril
0  1112461697         Ez8J  2018-04-17 08:00:04          True
1  1112463023       Y0Gmvr  2018-04-16 14:19:30          True
2  1112213212       a6AG60  2018-04-17 09:22:09          True
3  1112223876       a6AG60  2018-04-17 09:22:39          True
4  1112423240       a6AG60  2018-04-17 09:23:26          True

In [86]:
postulations_known['sepostulo'] = 1.0

In [87]:
test = test.merge(postulations_known, how='left', on=['idaviso','idpostulante'])

In [88]:
test.head()

,idaviso,idpostulante,id,postulantes,cantPostulaciones,cantVistas,edadPostulante,sepostulo_x,fechapostulacion,Mayor15Abril,sepostulo_y
0,17903700,RzrDJlZ,595,0.007018,0.046512,0.015385,0.268817,1.0,NaN,NaN,NaN
1,17903700,Yj5q3xX,594,0.007018,0.011628,0.061538,0.301075,1.0,2018-04-16 10:14:08,True,1.0
2,1000139175,LNKrDLr,609,0.008772,0.003876,0.030769,0.268817,1.0,2018-04-16 09:32:39,True,1.0
3,1000139175,exv4B8,610,0.008772,0.062016,0.030769,0.236559,1.0,2018-04-16 09:36:57,True,1.0
4,1000468151,jkMko3r,637,0.005263,0.003876,0.015385,0.387097,1.0,2018-04-16 06:32:53,True,1.0

In [89]:
test = test.drop(['Mayor15Abril','fechapostulacion'], axis=1)

In [90]:
test["sepostulo"] = test.apply(lambda row: row["sepostulo_x"] if (np.isnan(row["sepostulo_y"])) else row["sepostulo_y"],axis=1)

In [91]:
test.head()

,idaviso,idpostulante,id,postulantes,cantPostulaciones,cantVistas,edadPostulante,sepostulo_x,sepostulo_y,sepostulo
0,17903700,RzrDJlZ,595,0.007018,0.046512,0.015385,0.268817,1.0,NaN,1.0
1,17903700,Yj5q3xX,594,0.007018,0.011628,0.061538,0.301075,1.0,1.0,1.0
2,1000139175,LNKrDLr,609,0.008772,0.003876,0.030769,0.268817,1.0,1.0,1.0
3,1000139175,exv4B8,610,0.008772,0.062016,0.030769,0.236559,1.0,1.0,1.0
4,1000468151,jkMko3r,637,0.005263,0.003876,0.015385,0.387097,1.0,1.0,1.0

In [92]:
test['sepostulo'].isnull().value_counts()

False    100000
Name: sepostulo, dtype: int64

In [93]:
test = test.sort_values(by='id')

In [95]:
test['sepostulo'].mean()

0.5189406755765587

In [96]:
test.count()

idaviso              100000
idpostulante         100000
id                   100000
postulantes          100000
cantPostulaciones    100000
cantVistas           100000
edadPostulante       100000
sepostulo_x          100000
sepostulo_y           34462
sepostulo            100000
dtype: int64

In [97]:
test = test[['id','sepostulo']]

In [98]:
test.head()

       id     sepostulo
34161   0  2.125542e-07
34162   1  6.797200e-05
34163   2  7.271760e-06
34164   3  2.741398e-19
34165   4  4.576979e-05

In [99]:
test.to_csv('../GaussianNB6MmoreFeatures.csv', index=False)